
@{
    ViewBag.Title = "InsertCountry";
}

<h2>InsertCountry</h2>


<form method="post" action="/Country/InsertCountry">
    <div class="mb-3">

        <label for="country_id" class="form-label">Country id : </label>
        <input type="text" class="form-control" id="country_id"  name="country_id">

    </div>
    <div class="mb-3">
        <label for="Country_name" class="form-label">Country name : </label>
        <input type="text" class="form-control" id="Country_name"  name="Country_name">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>